.navbar{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

/*.navbar a {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*}*/

/*.navbar div {*/
/*    padding: 10px;*/
/*    border-radius: 20px;*/
/*}*/

/*.navbar div:hover{*/
/*    background-color:#FFE9D7;*/
/*}*/
/*.navbar div:active{*/
/*    background-color:#FFC76E;*/
/*}*/

.active{
    background-color:#FFC76E;
}